/* ============= CODE ============= */
@charset "UTF-8";
/* 0. Password stuff*/
.modal {
	background-color: #666;
	position: fixed;
	z-index: 29999;
	top:0;
	bottom:0;
	width: 100%;
}
.modal_window {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	width: 350px;
	margin: 250px auto 0;
	background-color: #fff;
	padding: 20px 40px 10px 40px;
	height: 130px;
}
.modal_title {
	font-size: 16px;
	padding: 0.2em;
	color: #2f2f22;
	text-align: center;
	margin: 0;
}
.modal_note {
	color: black;
	text-align: center;
}
.modal_error {
	visibility: hidden;
	color: red;
	text-align: center;
	margin-bottom: 0.3em;
}
.modal_button {
	width: 55px;
	display: inline-block;
	margin-left: 15px;
	margin-top:8px;
	cursor: pointer;
}
#modal_password {
	margin-left: 6px;
	margin-top:10px;
	height: 26px;
}
/* BIG TABLE */
.article-body {
	width: 967px;
}
.article .interactive_graphic_lead {
	padding-top: 1em;
}
.article h2 {
	margin: 2em 0 0.8em;
}
#table_wrapper {
	width: auto;
	margin: 0 -10px 0 -11px;
}
#average_loan_key p {
	float: left;
	width: 100px;
	padding: 9px 10px 0 20px;
	font-family: arial, sans;
	font-weight: bold;
	line-height: 1.2em;
}
#average_loan_key .key_item {
	font: 11px arial;
	color: #333;
	padding-bottom: 2px;
	margin-left: 140px;
}
#average_loan_key .key_item .swatch {
	height: 11px;
	width: 11px;
	margin-right: 5px;
	float: left;
}
.interactive_table {
	background-color: #fff;
	border-spacing: 0;
	width: 988px;
}
#interactive_note {
	color: #444;
	font-size: 13px;
	font-family: Arial, Sans-Serif;
	padding: 10px 7px 10px 7px;
	margin-top: 15px;
}
.table_nav {
	clear: left;
	background-color: #333;
	position: relative;
	padding: 10px 0 10px 0; /* 15 27 */
	text-shadow: 0 0 0 transparent, 1px 1px 2px rgba(0, 0, 0, .3); /* two shadows to fix chrome rendering bug */
	zoom: 1;
}
.type_tab {
	background-color: #004276;
	position: relative;
	padding: 0; /* 15 27 */
	text-shadow: 0 0 0 transparent;
	text-transform: uppercase;
	zoom: 1;
	height: 30px;
}
.type_tab .coltabs {
 	display: block;
	width: 304px;
	float:left;
	height:15px;
	border-right: 1px solid #cccccc;
	color: #f7f7f7;
	padding: 8px 9px 7px 10px;
	font: 14px/15px 'Source Sans Pro', Sans-serif;
	text-align: center;
}
.table_count {
	position: absolute;
	top: 9px;
	left: 0;
	width: 70%;
	margin-right: 10px;
	margin-left: 17px;
	margin-top: 0;
	font-family: Arial, Helvetica, Sans-Serif;
}

.loading_indicator img {
	vertical-align: -1px;
}
.loading_indicator, .loaded .table_fail {
				font-size: 17px;
				display: inline;
				color: #999;
				font-family: Arial, Sans-Serif;
}
.loaded .table_fail, .table_fail {
	display:none;
}
.table_results {
	display: none;
	font-size: 15px;
	color: #efefef;
	line-height: 100%;
}
#col_pct_federal_87, #col_pct_federal_12, #col_federal_change,#col_pct_tuition_87, #col_pct_tuition_12, #col_tuition_change, .col_pct_federal_87, .col_pct_federal_12, .col_federal_change,.col_pct_tuition_87, .col_pct_tuition_12, .col_tuition_change {
	display:none;
}
a.clear_search:hover {
	color: white;
	background-color: #004276;
}
a.disabled_search:hover {
	color: white;
	background-color: #cccccc;
}
.loading_indicator {
	font-size: 17px;
	display: inline;
	color: #999;
	font-family: Arial, Sans-Serif;
}
.loaded .loading_indicator {
	display: none;
}
.loaded .table_results {
	display: inline;
}

.loaded.no_results .table_results {
	display: none;
}

#table_filters {
	float: left;
	font-size: 15px;
	margin-top: 4px;
	margin-bottom: 0.6em;
	margin-right: -50px;
}

#table_filters select {
	margin-left: 20px;
	margin-top: 2px;
	margin-bottom: 0;
	height: 28px;
}

select#filter_state {
	margin-left: 0px;
}

.table_btns {
	height: 22px;
	font-family: Arial, Verdana, Sans-Serif;
	/*float: right;*/
}

.table_btns a.table_btn {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-left: 1px solid #555;
	line-height: 40px;
	background: url('/img/photos/biz/icon_arrows.png') top left no-repeat;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.table_btns a.table_btn.next {
	width: 65px;
	padding-right: 23px;
	background-position: 52px -101px;
}

.table_btns a.table_btn.next:active {
	background-position: 53px -101px;
}

.table_btns a.table_btn.prev {
	width: 96px;
	right: 83px;
	padding-left: 15px;
	background-position: 12px -158px;
}

.table_btns a.table_btn.prev:active {
	background-position: 11px -158px;
}

.first_page .table_btns a.table_btn.prev {
	background-position: 12px -45px;
	color: #555;
	cursor: default;
	text-shadow: none;
}

.first_page .table_btns a.table_btn.prev:hover,
.first_page .table_btns a.table_btn.prev:active {
	text-decoration: none;
}

.last_page .table_btns a.table_btn.next {
	background-position: 52px 9px;
	color: #555;
	cursor: default;
	text-shadow: none;
}

.last_page .table_btns a.table_btn.next:hover,
.last_page .table_btns a.table_btn.next:active {
	text-decoration: none;
}

#sorting_triangle {
	width: 0;
	height: 0;
	position: absolute;
	left: 336px;
	bottom: -8px;
	border-top: 8px solid #333;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.table_top {
/*border-top: 1px solid #ccc;*/
/*-webkit-box-shadow: 0 3px 10px -1px rgba(0,0,0,.5);
-moz-box-shadow: 0 3px 10px -1px rgba(0,0,0,.5);
box-shadow: 0 3px 10px -1px rgba(150,150,159,.5);*/
/*border-top: 3px solid #000;*/
/*border-bottom: 1px solid #d5dede;*/
}

.table_bottom {
	border-bottom: 1px solid #ccc;
	/*border-bottom: 2px solid #444;
	border-top: 1px solid #d5dede;*/
	margin-bottom: 40px;
}

.interactive_table thead {
	background: #F6F9F9;
}

.interactive_table tbody {
	width: 100%;
}

.interactive_table td,
.interactive_table th {
	font-family: 'Source Sans Pro', Sans-serif;
	padding: 9px 9px 9px 19px;
	text-align: left;
	position: relative;
}
.interactive_table td {
	text-align: right;
	padding: 9px 10px;

}

.interactive_table th.col_first {
}
.interactive_table td {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.loaded .interactive_table td {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.interactive_table tbody tr.placeholder td {
	height: 760px;
}
.interactive_table tbody tr.no_results td {
	height: 75px;
	padding-top: 50px;
	color: #222 !important;
	font-size: 18px;
	opacity: 1;
	filter: alpha(opacity = 100);
	cursor: default;
}
.interactive_table tbody tr.placeholder:hover td,
.interactive_table tbody tr.placeholder:active td,
.interactive_table tbody tr.no_results:hover td,
.interactive_table tbody tr.no_results:active td {
	background: none !important;
	text-shadow: none;
	cursor: default;
}
.interactive_table th {
	font-size: 13px;
	line-height: 1.3;
	border-right: 1px solid #d5dede;
	border-bottom: 1px solid #d5dede;
	vertical-align: bottom;
	color: #333;
	text-shadow: 0 0 0 transparent, 1px 1px 1px rgba(256, 256, 256, .6); /* two shadows to fix chrome rendering bug */
}
.interactive_table th.first {
	border-left: none;
}

.interactive_table th.last {
	border-right: none;
}
.floating .table_nav {
	position: fixed;
	width:967px;
	left:50%;
	margin-left: -489px;
	top: 0;
	z-index: 998;
}
.floating .interactive_table thead {
	position: fixed;
	width:967px;
	left:50%;
	margin-left: -489px;
	top: 42px;
	z-index: 999;
}
.floating #interactive_table_wrapper {
	margin-top: 112px;
}
.interactive_table th:hover,
.interactive_table th:active,
.interactive_table th.sorting {
	cursor: pointer;
	background-color: #DAE4EA;
	-webkit-box-shadow: inset 0px 0px 1px 0 rgba(136, 144, 139, .6);
	-moz-box-shadow: inset 0px 0px 1px 0 rgba(136, 144, 139, .6);
	box-shadow: inset 0px 0px 1px 0 rgba(136, 144, 139, .6);
	color: #000;
}
.interactive_table th.desc {
	background: #dae4ea; /* Old browsers */
	background: -moz-linear-gradient(top, #dae4ea 0%, #f6f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae4ea), color-stop(100%,#f6f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dae4ea 0%,#f6f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dae4ea 0%,#f6f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dae4ea 0%,#f6f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dae4ea 0%,#f6f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae4ea', endColorstr='#f6f9f9',GradientType=0 ); /* IE6-9 */
}
.interactive_table th.asc {
	background: #f6f9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f9f9 0%, #dae4ea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9f9), color-stop(100%,#dae4ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f9f9 0%,#dae4ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f9f9 0%,#dae4ea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f9f9 0%,#dae4ea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f9f9 0%,#dae4ea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9f9', endColorstr='#dae4ea',GradientType=0 ); /* IE6-9 */
}
.interactive_table th.asc:before {
/*	    content: "↑";
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #999999;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -9px;
*/
}
.interactive_table th#col_Rank_2013 {width: 51px;}
.interactive_table th#col_org_name {width: 410px;}
.interactive_table th#col_2013_private_support_confirmed {width: 128px;}
.interactive_table th#col_percent_change {width: 118px;}
.interactive_table th#col_2013_tot_income {width: 108px;}
.interactive_table td.col_Rank_2013 {width: 60px;}
.interactive_table td.col_org_name {width: 419px;}
.interactive_table td.col_2013_private_support_confirmed {width: 137px;}
.interactive_table td.col_percent_change {width: 127px;}
.interactive_table td.col_2013_tot_income {width: 117px;}	
.interactive_table th.desc:before {
	  /*  content: "↓";
		font-size: 14px;
		line-height: 18px;
		font-weight: bold;
		color: #999999;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -9px;*/
}
.interactive_table th.inactive:hover {
	   color: #333333;
	background-color: transparent;
	cursor: default;
		box-shadow: inset 0px 0px 0 0 transparent;
}
.interactive_table td {
	font-size: 14px;
	vertical-align: middle;
	line-height: 1.4;
	color: #333;
}

.stats_section_content table thead td .indicator , #content .stats_section_content .top_performers thead td .indicator {
	margin-left: 5px;
	width: 10px;
	float: left;
	padding-top: 4px;
	height: 14px;
}
.interactive_table th .indicator {
	display: none;
}
.interactive_table th.sorting .indicator {
	float: right;
	width: 10px;
	margin: -7px -8px;
	height: 14px;
	display: block;
}

.stats_section_content table thead td .th_label {
	float: left;
	width: auto;
}
.interactive_table tr td {
	cursor: pointer;
}
.interactive_table tbody tr.result:hover {
	background: #004276 url('/img/photos/biz/texture_diagonal_blue.gif') repeat !important;
	text-shadow: 0 0 0 transparent, 1px 1px 1px rgba(0, 0, 0, .4);*/ /* two shadows to fix chrome rendering bug */
}
.interactive_table tbody tr.result:hover td {
	color: #fff !important;
}
.interactive_table tbody tr.result:hover td .state {
	color: #b0b0b0 !important;
}
.interactive_table tbody tr.result:hover td sup {
	color: #d0d0d0 !important;
}
.interactive_table tbody tr.result:hover td a {
	color: #66A7D2 !important;
}
.interactive_table tbody tr.result:hover td a:hover {
	color: #87B6D2 !important;
}
.interactive_table tr.even td {
/* background: #F7F7F7 url('/img/photos/biz/texture_diagonal_gray.gif') repeat;*/
}
.article p.notes {
	font: 14px/16px 'Source Sans Pro', Sans-serif;
	margin: 0 0 1em 1em;
	color: #666666;
}
.interactive_table tr.odd td {
/* background: #fff;*/
}

.interactive_table td.col_first
/*.interactive_table th.col_first*/ {
	text-align: right;
	font-size: 18px;
	vertical-align: middle;
	color: #666666;
	background: url(http://chronicle.com/img/photos/biz/plusloans-plus.gif) 5px 10px no-repeat;
	background-position: 10px 50%;
}
.interactive_table tr.opened .col_first {
	background: url(http://chronicle.com/img/photos/biz/plusloans-minus.gif) 5px 10px no-repeat;
	background-position: 10px 50%;
}
/* Basic table */
/* 10. Table */
/* clearfix */
.bunch:before,
.bunch:after {
	content: "";
	display: table;
}
.bunch:after {
	clear: both;
}
.bunch {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
/* 3. Error display */
#interactive_error,
.interactive_error_message {
	margin: 0 20px 15px 20px;
	padding: 5px 10px;
	background-color: #D85C3A;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#interactive_error a:link,
#interactive_error a:visited,
#interactive_error a:hover,
#interactive_error a:active,
.interactive_error_message a:link,
.interactive_error_message a:visited,
.interactive_error_message a:hover,
.interactive_error_message a:active {
	font-size: 15px;
	color: #fff;
	text-decoration: underline;
}
#interactive_error {
	display: none;
}
/* Gainful employment table */
.interactive_table .col_org_name {
	font-weight: bold;
	font-size: 14px;
	padding-left: 25px;
	text-align: left;
}
.interactive_table td sup {
padding-left: 2px;
color: #666666;
}
.interactive_table td span {
	display: block;
	text-align: right;
	padding-right: 1em;
	font-size: 13px;
	color: #999999;
}
.interactive_table .col_org_name span {
	text-align: left;
	font-weight: normal;
}

.interactive_table th#col_org_name {
	text-align: left;
	padding-left: 25px;
}
.interactive_table th span {
font-weight: normal;
display: block;
font-size: 12px;
color: #666666;
}
.interactive_table .col_category {
	text-align: left;
	word-wrap: break-word;
	color: #444;
}

.interactive_table tr.even td {
/* background: #fff;/*#F7F7F7 url('/img/photos/biz/texture_diagonal_gray.gif') repeat;*/*/
}
.interactive_table tr.overtime {
/*height: 440px;*/
	margin: 10px;
	background-color: #f7f7f7;
	min-height: 30px;
	overflow:hidden;
}
.interactive_table tr.overtime .details {
	padding-top: 1.3em;
}
.interactive_table tr.overtime h3 {
	font: bold 18px/22px 'Source Sans Pro', Sans-serif;
	color: #333333;
	text-align: left;
	margin: 5px 20px 10px;
}
.interactive_table tr.overtime p {
	clear: left;
	color: #4f4f4f;
	font: 14px/14px 'Source Sans Pro', Sans-serif;
	text-align: left;
	margin: 0 0 1em 60px;
}
.interactive_table tr.overtime b {
	font-weight: bold;
	color: #6f6f6f;
	font-size: 13px;
}
.interactive_table tr.overtime .deetnum {
	clear:none;
max-width: 250px;
float: left;
}
.interactive_table tr.overtime .deetwider {
	max-width: 400px;
}

.interactive_table tr.overtime .deetbreak {
	clear:left;
}
.interactive_table tr.overtime .keys {
	height: 20px;
	margin-top: 5px;
	margin-left: 45px;
}

.interactive_table tr.overtime .disabled,  .interactive_table tr.overtime .disabled:hover{
	/*background-color: #eeeeee;*/
	color: #aaaaaa;
}
.interactive_table tr.overtime  .disabled .swatch {
	background-color: transparent !important;
}
.interactive_table tr.result td {
	border-top: 1px dashed #d7d7d7;
}
.interactive_table {
	border-bottom: 1px dashed #d7d7d7;
}
.interactive_table tbody tr.result:first-child td {
	border-top: 0px none;
}
.interactive_table_header {
	width: auto !important;
	padding: 0 28px;
}
/* 5. Social media links */

.interactive_sharing {
	float: right;
	padding: 0 22px 0;
}
.interactive_sharing a {
	display: inline-block;
	padding: 2px 0 2px 21px;
	margin-left: 25px;
	background-position: top left;
	background-repeat: no-repeat;
}

.interactive_sharing a.twitter {
	background-image: url(/img/photos/biz/header_icon_twitter.gif);
	background-position: 0 1px;
}

.interactive_sharing a.email {
	background-image: url(/img/photos/biz/header_icon_email.gif);
	background-position: 3px 4px;
}

.interactive_sharing a.facebook {
	background-image: url(/img/photos/biz/header_icon_facebook.gif);
	background-position: 4px 3px;
}

.interactive_sharing a.share {
	background-image: url(/img/photos/biz/img/header_icon_share.gif);
	background-position: 5px 3px;
}

.interactive_sharing a.comment {
	background-image: url(/img/photos/biz/img/header_icon_comment.gif);
	background-position: 3px 3px;
}

.interactive_sharing a.data {
	background-image: url(/img/photos/biz/img/header_icon_data.gif);
	background-position: 3px 1px;
}

.interactive_sharing a.data:hover,
.interactive_sharing a.data:active {
	cursor: pointer;
}
/* 6. Menu & Header */
.interactive_top {
/*padding: 0 9px 0 8px;*/
padding: 0;
}
.interactive_top .full_header_top {
	padding: 10px 0 0 0;
}

.full_header_top .interactive_date {
	float: left;
	padding-top: 10px;
	padding-left: 19px;
	margin-right: 14px;
	color: #a9a9a9;
	font-size: 12px;
}
.search option:disabled {
	color: #bbbbbb;
}
.interactive_header {
	padding: 2px 0 0 0;
	/* margin-left: 10px;*/
	position: relative;
	clear: both;
	zoom: 1;
	z-index: 1;
}
.interactive_header .left_header {
	float: left;
}

.interactive_header p.interactive_graphic_lead {
	padding: 0 30px 8px 3px;
	margin-bottom: 0px;
	font-size: 13.5px;
	font-family: Arial, Verdana, Sans-Serif;
	line-height: 1.4;
	color: #3E3E3E;
}

.interactive_header p.interactive_graphic_lead a {
	font-size: 13.5px;
}

.filter_option {
	float: left;
	width: 250px;
	border-left: 1px solid #d7d7d7;
	line-height: 1.3;
}
#filter_definitions {
	padding: 1px 0 7px 20px;
}
#average_loan_key {
	width: 280px;
}
.filter_option a {
	display: block;
	padding: 10px 25px 15px;
	font-size: 14px;
	font-weight: bold;
}

#filter_missing_all {
	margin-left: 10px;
}

.interactive_about {
/*margin: 25px 10px 0 10px;
padding: 20px 23px 0 13px;*/
font-size: 13px;
line-height: 16px;
margin-bottom: 1em;
/*border-top: 1px solid #efefef;*/
clear: both;
}
.interactive_about p {
	margin: 0 0 10px 0;
	padding: 0;
	color: #474241;
}
/*hover box on chart */
.chart_over {
	z-index: 2;
	display: none;
	position: absolute;
	color: #d1d2d4;
	min-width: 280px;
	background-color: #231f20;
	font: bold 12px arial, sans;
	padding: 15px;
}
.chart_over p {
	color: #f7f7f7;
	font-family: arial,helvetica, sans-serif;
	font-size: 13px;
	padding: 2px 0;
	margin: 0;
	font-weight: normal;
	line-height: 19px;
	text-align: left;
}
.chart_over p span {
	color: #ffffff;
}
.chart_over .chart_name {
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;
}
.chart_over .chart_name span {
	display:inline;
	margin-left: 0;
	margin-top: 0;
	font-weight: normal;
	color: #ddd;
	font-size: 13px;
}
.chart_over .portion,  .chart_over .amount {
  margin-left: 15px;
}
.chart_over .amount, .chart_over .change {
	font-weight: normal;
	clear: left;
}

/* Search */
/* 8. Search (with autosuggest.js) */
/* Search can either be a child of .interactive_tabs or .interactive_header, depending on desired position */
.search {
	float: left;
	margin: 4px 12px 10px 0;
}
.table_options {

}
.separator {
	display: block;
	float: left;
	padding: 1.8em 1.8em 0 0.6em;
	font: bold 0.9em 'Source Sans Pro', Sans-serif;
}
.search h4, #table_filters h4 {
	font-size: 14px;
	margin: 0 5px 2px 3px;
	color: #333;
}

.search input#search_text,
.search input#search_scatter_text,
#interactive_executive_comp_filter input {
	width: 316px;
	width: 315px\9; /* ie7-8 */
	height: 28px;
	height: 22px\9; /* ie7-8 */
	padding: 0 10px 0 21px;
	padding: 4px 10px 0 22px\9; /* ie7-8 */
	zoom: 1;
	opacity: .5;
	filter: alpha(opacity = 50);
	border: none;
	border: 1px solid #dedede\9; /* ie7-8 */
	outline: none;
	border-radius: 13px;
	font-size: 13px;
	color: #777;
	-moz-box-shadow: inset 0 0 2px #8c9599;
	box-shadow: inset 0 0 2px #8c9599;
	-webkit-box-shadow: inset 0 0 4px #8c9599; /* webkit draws this lighter by defualt than FF/IE */
	background: #fff url(/img/photos/biz/header_icon_search.gif) 7px 8px no-repeat;
}

.search #search_text.focused {
	color: #000;
}
/* AutoSuggest CSS - Version 1.2 */
/* Modified AutoSuggest CSS Chrome - Version 1.2 */

/* div.as-results {
position: relative;
zoom: 1;
z-index: 10;
}
*/
ul.as-selections {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: visible;
}
ul.as-selections.loading {
	background-color: #eee;
}
ul.as-selections li {
	float: left;
	margin: 0;
	padding: 0;
}
ul.as-selections li.as-original {
	margin-left: 0;
}
ul.as-selections li.as-original input {
	border: none;
	outline: none;
}
ul.as-list {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	text-shadow: none;
	position: absolute;
	list-style-type: none;
	margin: 30px 0 0;
	padding: 0;
	font-size: 13px;
	color: #000;
	background: #fff; /* combined bg attribute must be used here to get ie7 to ignore rgba */
	background: rgba(255,255,255,0.95);
	z-index: 2;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.4);
	box-shadow: 0 2px 6px rgba(0,0,0,.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #b3b3b3\9; /* ie7-8 */
	border-width-top: 0;
}
ul li.as-result-item, ul li.as-message {
	margin: 0 0 0 0;
	padding: 5px 12px 5px 10px;
	border-bottom: 1px solid #ddd;
	font-size: 13px;
	line-height: 1.3;
	cursor: pointer;
	font-family: Arial, Sans-Serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	clear: both;
	cursor: default;
}

ul li.as-result-item span.label {
	font-weight: bold;
	color: #006695;
	font-size: 10px;
	position: absolute;
	right: 10px;
}

ul li.as-result-item.active span.label {
	color: #efefef;
}
ul li.as-result-item span.name {
	font-weight: bold;
}
ul li.as-result-item span.college {
	color: #353535;
}
ul li.as-result-item img.headshot {
	margin-right: 10px;
	margin-bottom: 0;
}
ul li.as-result-item:last-child {
	border-bottom-width: 0;
}
ul li.as-message .label {
	font-size: 12px;
	line-height: 16px;
	color: #777;
}
li:first-child.as-result-item {
	margin: 0;
}
li.as-message {
	margin: 0;
	cursor: default;
}
ul li.as-result-item.active {
	background: rgb(76,75,71);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjNGI0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjI1MjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgb(76,75,71) 0%, rgb(38,37,35) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(76,75,71)), color-stop(100%,rgb(38,37,35)));
	background: -webkit-linear-gradient(top, rgb(76,75,71) 0%,rgb(38,37,35) 100%);
	background: -o-linear-gradient(top, rgb(76,75,71) 0%,rgb(38,37,35) 100%);
	background: -ms-linear-gradient(top, rgb(76,75,71) 0%,rgb(38,37,35) 100%);
	background: linear-gradient(top, rgb(76,75,71) 0%,rgb(38,37,35) 100%);
	background: #333\9; /* ie7-8 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4b47', endColorstr='#262523',GradientType=0 );
	/* border-color: #3342e8;*/
	color: #fff;
	text-shadow: 0 1px 2px #122042;
}
ul li.as-result-item.active span.college,
ul li.as-result-item.active span.name {
	color: #fff;
}
li.as-result-item em {
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}
/* Webkit Hacks */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	ul.as-selections {
		border-top-width: 2px;
	}

}
/* Opera Hacks */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	ul.as-list {
		border: 1px solid #888;
	}

}
/* IE Hacks */
/*ul.as-list {
border: 1px solid #888\9;
}
*/
ul.as-list, x:-moz-any-link, x:default {
	border: 1px solid #888;
}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default {/* Target FF 3.5+ */
	border: none;
}
/* X. Interactive Main */
#interactive_container {
	margin: 0 15px;
}
#interactive_table_wrapper {
	clear: both;
	margin: 0 0 1em 0;
	position: relative;
	width: 967px;
}
/* 9. Notes */
.interactive_source {
	clear: both;
	font-size: 12px;
	color: #444;
	margin-left: 20px;
	margin-top: 20px;
	line-height: 1.4;
}
.interactive_source a {
	font-size: 12px;
}
.interactive_credit {
	margin: 20px 23px 30px 0;
	clear: both;
	text-align: right;
	padding: 0 13px;
	font-style: italic;
	font-size: 12px;
}
.interactive_credit .credit_divider {
	color: #777;
	padding: 0 5px;
}
/* 11. Modular Elements */
a.interactive_btn {
	display: inline-block;
	padding: 1px 7px 0px;
	background-color: #507C9E;
	color: #fff;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	border-radius: 4px;
}
a.btn {
	display: inline-block;
	color: #fff;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	line-height: 1;
	text-shadow: 0 -1px 1px #3275bc;
	text-align: center;
	padding: 5px 8px;
	background: #3b88d8;
	background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
	border-top: 1px solid #4081af;
	border-right: 1px solid #2e69a3;
	border-bottom: 1px solid #20559a;
	border-left: 1px solid #2e69a3;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	-moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	-webkit-background-clip: padding-box;
}
a.btn:hover, .btn_container:hover a.btn {
	background: #2a81d7;
	background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
	border-top: 1px solid #2a73a6;
	border-right: 1px solid #165899;
	border-bottom: 1px solid #07428f;
	border-left: 1px solid #165899;
	-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
	-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
	cursor: pointer;
	text-shadow: 0 -1px 1px #1d62ab;
	text-decoration: none;
}

a.btn:active, .btn_container:active a.btn {
	background: #3282d3;
	border: 1px solid #154c8c;
	border-bottom: 1px solid #0e408e;
	/* -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;*/
	text-shadow: 0 -1px 1px #2361a4;
}

a.small_btn {
	padding: 2px 6px 3px 6px;
	font-size: 11px;
}
a.gray_btn {
	background: #999;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
	border-top: 1px solid #c5c5c5;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #cecece;
	color: #8f8f8f;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	cursor: not-allowed;
	text-shadow: 0 -1px 1px #ebebeb;
	-webkit-background-clip: padding-box;
}

a.filter_btn {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.expand_btn {
	display: inline-block;
	/*padding: 3px 6px;*/
	width: 20px;
	height: 17px;
	padding-top: 3px;
	vertical-align: 1px;
	margin-left: 5px;
	background-color: #efefef;
	color: #144563;
	text-align: center;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.3); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.3); /* FF3.5 - 3.6 */
	box-shadow: 1px 1px 0 0 rgba(0,0,0,.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
tr.overtime {
	display: none;
}
.di__tweet_button {
    color: #00acee;
    display: block;
	float: right;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
	padding-bottom: 0.5em;
}
.di__tweet_button:hover {
    color: #0089be;
}
.nodata {
	color: #999 !important;
}
a.clear_search {
	display: none;
   background-color: #007aad;
    color: #fff;
    cursor: pointer;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 13px;
    margin-left: 1em;
    padding: 4px 6px;
    text-align: center;
    text-transform: uppercase;
}
a.disabled_search {
	cursor: default;
	background-color: #cccccc;
}
/* 12. Clearfix */
.interactive_tabs:after,
.interactive_timeline:after,
#interactive_subtabs:after, .table_options:after,
.article ul li.as-result-item:after,
.main_tabs:after {
	content: ".";
	display: block;
	height: 0;
	clear: left;
	visibility: hidden;
}
/* Landing Page Columns */

.interactive_left_col {
	position: absolute;
	width: 325px;
	right: 26px;
	top: -44px;
	padding: 15px 0 0 21px;
	z-index: 1;
	background-color: #fff;
	border-top: 1px solid #efefef;
}

.interactive_left_col .interactive_subhead {
	margin-top: 0;
}

.interactive_right_col {
/*float: left;*/
/*width: 675px;*/
padding: 15px 10px 15px 19px;
/*margin-right: -20px;*/
}
/* clearfix */
.bunch:before,
.bunch:after {
	content: "";
	display: table;
}
.bunch:after {
	clear: both;
}
.bunch {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
@media only screen and (max-width: 867px) {
/*	.raph_div {
		height: 400px;
	}
	.chart_over p {
		font-size: 12px;
	}
	.interactive_table .col_chronorgname {
		width: 35%;
	}
	.interactive_table th#col_chronorgname {
	width: 35%;
	}*/
}
@media print {
	/*.positive, .quartile_4, #average_loan_key .positive {
		color: #006600 !important;
	}
	.neutral-p, #average_loan_key .neutral-p {
		color: #83b075 !important;
	}
	.neutral-n, #average_loan_key .neutral-n {
		color: #ad7e6e !important;
	}
	.negative, #average_loan_key .negative {
		color: #993300 !important;
	}*/

}
